*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}

body{
    font-family: 'Roboto', sans-serif;
    background: #E5E5E5
}
/*inicio*/
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container__info{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container__info-grupo{
    padding-bottom: 40px;
}

.container__info--grupo--titulo{
    color: #5656f3;
    padding: 20px;
    font-size: 40px;
}

/*primer enlace*/
.container__info--inicio{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    height: 250px;
}

.info__cuenta--actual{
    display: flex;
    justify-content: center;
    background: #fff;
    width: 100%;
    height: 100%;
    border-radius: 4.5px;
}

.info__cuenta--actual--antho{
    width: 180px;
    height: 180px;
}

/*segundo enlace*/
 .container__cuenta--agregar--description{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    min-height: 40px;
    color: #3d1bfc;
    font-size: 20px;
    font-weight: 200;
    height: 70px;
 }

.info__cuenta--actual--usuario{
    text-decoration: none;
    padding: 40px;
}

.info__cuenta--agregar--plus{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180px;
    width: 100%;
    margin-bottom: 20px;
}

.info__cuenta--agregar--plus .fa-plus-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
}

.info__cuenta--agregar{
    text-decoration: none;
    background: #fff;
    color: #5656f3;
    font-weight: 400;
    width: 200px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4.5px;
}

.info__cuenta--enlace{
    color: #5656f3;
}

.info__cuenta--actual:hover,
.info__cuenta--agregar:hover{
    box-shadow: 6px 15px 10px rgba(163, 163, 163, 0.4);
    transition: 0.3s ease-in-out;
}

/*formulario*/
.container__formulario{
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.container__formulario--grupo{
    display: inherit;
    background: #fff;
    justify-content: center;
    align-items: center;
    height: 320px;
    width: 400px;
    flex-direction: column;
    gap: 10px;
    font-size: 15px;
    box-shadow: 6px 15px 10px rgba(163, 163, 163, 0.4);
    border-radius: 7px;
 }

.container__formulario--grupo--input{
    width: 350px;
    height: 50px;
    outline: none;
    font-size: 15px;
    border: none;
    border: 1.5px solid #b6b6c9;
    box-shadow: 2px ;
    border-radius: 10px;
    padding: 0 10px;
}

.container__formulario--grupo--input:focus{
    border:  1.8px solid #3d1bfc;
}

.container__formulario--grupo--send{
    width: 373px;
    height: 40px;
    border-radius: 7px;
    background: #3d1bfc;
    color: #fff;
    font-size: inherit;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.container__formulario--grupo--send:hover{
    background: #3212e7;   
}

.container__formulario--grupo--forget{
    width: inherit;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline-style: none;
    text-decoration: none;
    color:#3d1bfc;
}

.container__formulario--grupo--forget:hover{
    text-decoration:underline;
}

.container__formulario--grupo--create{
    width: 350px;
    height: 40px;
    background: #00a400;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    border: none;
    border-radius: 7px;
}

.container__formulario--grupo--create:hover{
    background: #039712;
    box-shadow: 3px 0 30oz rgba(163, 163, 163, 0.4);
}

.container__formulario--grupo--descripcion{
    font-size: 15px;
    width: 55%;
    padding-top: 25px;
}


/*responsive*/
@media screen and (max-width: 870px) {
    .container{
        grid-template-columns: 1fr;
        overflow: hidden;
    }

    .container__info--inicio{
        height: 250px;
        width: 250px;
    }

    .container__formulario--grupo{
        width: 350px;
    }

    .container__formulario--grupo--input{
        width: 90%;
    }

    .container__formulario--grupo--send{
        width: 90%;
    }

    .container__formulario--grupo--create{
        width: 90%;
    }

    .container__info--inicio{
        grid-template-columns: 1fr 1fr;
        top: 80px;
    }
}